<div class="row select_picture">
  <div class="page-header">
    <h3>Vote for the best picture</h3>
  </div>
  <p><b>Storyfragment:</b> <%= @round.story_fragment %></p>

  <%= form_tag game_round_vote_path(@game, @round) do %>
    <div class="row">
      <% @submitted_pictures.each_with_index do |image, index| %>
      <div class="img-container">
        <label for="photo_id_<%= image.id %>">
          <%= image_tag FlickRaw.url_q(Flickr.find(image.flickr_id)) %>
        </label><br/>
        <%= radio_button_tag "photo_id", image.id, index == 0  %>
      </div>
      <% end %>
    </div>
    <div class="storyfragment">
      <%= submit_tag "Vote!", class: 'btn btn-primary btn-block' %>  
    </div>
  <% end %>
</div>
