<div class="story panel panel-default">
  <div class="panel-heading">
    <h4>Title of your amazing story!</h4>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-3"><%= image_tag "http://lorempixel.com/g/98/98/", class: 'thumbnail' %></div>
      <div class="col-xs-3"><%= image_tag "http://lorempixel.com/g/98/98/", class: 'thumbnail' %></div>
      <div class="col-xs-3"><%= image_tag "http://lorempixel.com/g/98/98/", class: 'thumbnail' %></div>
      <div class="col-xs-3"><%= image_tag "http://lorempixel.com/g/98/98/", class: 'thumbnail' %></div>
    </div>
    <% unless finished %>
      <div class="status-bar">
        <span>Status: <b>Waiting for your picture</b> </span>
        <%= link_to "Go there... <i class=\"fa fa-arrow-right\"></i>".html_safe, "#", class: 'btn btn-default pull-right' %>
      </div>
    <% end %>
    <div class="row col-md-12">
      <hr/>
      <b>Blurp:</b>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    </div>
    <div class="row col-md-12">
      <hr/>
      <b>Authors:</b> Jeroen van Baarsen, Piet Piraat, Jim Story
    </div>
  </div>
</div>
