<!DOCTYPE html>
<html>
<head>
  <title>Dixit</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash[:error] -%>
    <p class='error'><%=h flash[:error] %></p>
  <% end -%>
  <% if flash[:notice] -%>
    <p class='notice'><%=h flash[:notice] %></p>
  <% end -%>

  <% if signed_in?  %>
    <%= link_to "Sign out", sign_out_path, method: :delete %>
  <% end %>

  <%= yield %>
</body>
</html>
